body {
  background-color: #022b3a;
  margin: 0 auto;
}

/* -----------------NAVIGATION BAR------------------*/

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: #000000ee;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px #000;
  z-index: 2;
}

.navbarcontainer {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

.navbarlink {
  color: #022b3a;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: lowercase;
}

.navbaritem {
  margin: 0.4em;
  width: 80%;
  text-align: center;
  flex: 1;
  flex-direction: column;
}

.navbarlink:focus,
.navbarlink:hover {
  color: #022b3a;
  font-weight: 800;
  text-shadow: 0 1px 1px #fff;
}

.navbartoggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconbar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  background-color:#1f7a8c;
}

.navbartoggle:focus .iconbar,
.navbartoggle:hover .iconbar {
  background-color:#1f7a8c;
}

#navbar.opened .navbartoggle .iconbar:first-child,
#navbar.opened .navbartoggle .iconbar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbartoggle .iconbar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbartoggle .iconbar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbartoggle .iconbar:last-child {
  transform: rotate(-45deg);
}

.navbarmenu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar.opened .navbarmenu {
  background-color: rgba(0, 0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbarlinks {
  list-style-type: none;
  width: 60%;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #1f7a8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem auto;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbarlinks {
  padding: 1em;
  max-height: none;
}

/* ------------END NAVIGATION BAR--------------*/

.container, #aboutContainer, #projectsContainer, #skillsContainer {
  margin: 10px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#jumbotron {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin: 0 auto;
  height: 250px;
}

#bannertext {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-family: 'Newsreader', serif;
  font-weight: 500;
  line-height: 2rem;
  margin: 0 auto;
  padding: 100px 0 0;
}

h2 {
  color: #bfdbf7;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

#h3about, #h3projects, #h3skills, #h3contact {
  color: #1f7a8c;
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  box-sizing: border-box;
  background-image: linear-gradient(#1f7a8c, #022b3a);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  text-fill-color: transparent;
}

p {
  color: #e1e5f2;
  font-family: 'Newsreader', serif;
  font-weight: 200;
  font-size: 18px;
  margin: 0 auto;
  box-sizing: border-box;
}

#about {
  background-image: linear-gradient(#022b3a, #1f7a8c);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#sidebar {
  background-image: url("Photos/IMG_6179croppedBW.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px auto;
  width: 50%;
  height: 250px;
  border-radius: 0 18% 0 18%;
  box-sizing: border-box;
}

#about-copy {
  width: 80%;
  padding: 10px 0 10px 30px;
  text-align: center;
}

#projectsContainer, #skillsContainer, #contactContainer {
  background-color: #000;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* WILL MAKE THIS WHOLE CAROUSEL SECTION BETTER ONCE I LEARN JAVASCRIPT!*/
#gallerycarousel {
  width: 90%;
  min-height: 500px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolioprojectfeature {
  background-image: url("Photos/DroletRemodelingHomepageScreenshot.jpg");
  background-size: contain;
  background-position: center;
  height: 296.8px;
  width: 460.6px;
  margin: 0 -15px;
}

#portfolioprojectfeature:hover {
  height: 424px;
  width: 658px;
  transition: 0.5s;
}

#portfolioproject2 {
  background-image: url("Photos/marcel-strauss-3Zlg1lgCu4E-unsplash.jpg");
  background-size: contain;
  background-position: center;
  height: 153.6px;
  width: 273.2px;
}

#portfolioproject3 {
  background-image: url("Photos/myportfolioscreenshot.jpg");
  background-size: contain;
  background-position: center;
  height: 153.6px;
  width: 273.2px;
}
/* WILL MAKE THIS WHOLE CAROUSEL SECTION ^ BETTER ONCE I LEARN JAVASCRIPT!*/

#contactContainer p {
  text-align: center;
  margin: 15px auto;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-family: 'Newsreader', serif;
  font-weight: 200;
}

a:hover {
  font-weight: 400;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 1px #1f7a8c;
}

/* ------------------RESPONSIVE SIZING-----------------*/
/* ------------------(Default Mobile)------------------*/

@media screen and (min-width: 700px) {
  .navbartoggle {
    display: none;
  }

    .navbarcontainer {
    justify-content: space-around;
  }

  #navbar .navbarmenu,
  #navbar.opened .navbarmenu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
    background-color: #000000ee;
  }

  #navbar .navbarlinks,
  #navbar.opened .navbarlinks {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

 .navbaritem {
    padding: 0 10px;
  }

.navbarlink {
  color: #fff;
}

  .navbarlink:focus,
  .navbarlink:hover {
    color: #bfdbf7;
    font-weight: 600;
    background-color: #000000ee;
    text-shadow: 0 1px 1px #1f7a8c;
    transition: ease-in-out;
  }

  #jumbotron {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
    height: 450px;
  }
  
  #bannertext {
    margin: 0 auto;
    padding: 200px 0 0;
  }

  h1 {
    font-size: 3rem;
    margin: 35px auto 10px;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 1.6rem;
    margin: 5px auto;
  }

.container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#aboutContainer {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

  #about {
    flex-direction: row;
    flex-wrap: nowrap;
  }

   #h3about {
   font-size: 100px;
   text-align: center;
   transform: rotate(-90deg);
   margin: 0 0 0 -130px;
  }

  #sidebar {
    margin: 0 0 0 -100px;
    height: 300px;
  }

  #about-copy {
    width: 80%;
    padding: 30px;
  }

  #gallerycarousel {
    margin: 0 0 0 0px;
  }

#projects {
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: lavender;
}
}
