body {
  background-color: #022b3a;
  margin: 0 auto;
}

#jumbotron {
  background-image: url("Photos/headshot2-cropped-bw.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 500px;
}

#navflex {
  list-style: none;
  width: 55%;
  margin: 0;
  padding: 20px 22.5%;
  display: flex;
  justify-content: space-around;
}

.navitem {
  flex-direction: row;
  text-align: center;
  flex: 1;
  align-items: flex-end;
  color: #ffffff;
  
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navitem:hover {
    color: #1f7a8c;
}

h1 {
  color: #bfdbf7;
  text-align: center;
  font-size: 3rem;
  margin: 20px auto;
}

h2 {
  color: #bfdbf7;
 text-align: center;
  font-size: 2rem;
  margin: 20px auto;
}

h3 {
  color: #1f7a8c;
  font-size: 1.5rem;
  margin-left: 100px;
}

p {
  color: #e1e5f2;
  display: inline-block;
}

.container {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
}

#sidebar {
    width: 20%;
}

#headshot {
    width: 100%;
}

#about-main {
    width: 80%;
    padding: 30px;
    align-items: flex-end;
}


