body {
  background-color: #022b3a;
  margin: 0 auto;
}

#navflex {
    list-style: none;
    width: 55%;
    margin: 0;
    padding: 20px 22.5%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: sticky;
  }
  
  .navitem {
    flex-direction: row;
    text-align: center;
    flex: 1;
    align-items: flex-end;
    color: #022b3a;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Rock Salt', cursive;
  }
  
  .navitem:hover {
      color: #8fa02f;
  }

#jumbotron {
  background-image: url("Photos/IndexHeaderSelfPortrait.jpg");
  background-size: contain;
  background-position: center;
  margin: 0 auto;
  height: 500px;
  margin-bottom: -200px;
}

aside {
    background-color: #022b3a;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }

h1 {
  color: #bfdbf7;
  text-align: center;
  font-size: 3rem;
  margin: 35px auto 10px;
  font-family: 'Rock Salt', cursive;
  font-weight: 100; 
line-height: 4.5rem;
}

h2 {
  color: #bfdbf7;
 text-align: center;
  font-size: 1.6rem;
  margin: 5px auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
 }

h3 {
  color: #1f7a8c;
  font-size: 1.5rem;
  margin-left: 100px;
}

p {
  color: #e1e5f2;
  display: inline-block;
}

.container {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
}

#sidebar {
    width: 20%;
}

#headshot {
    width: 100%;
}

#about-main {
    width: 80%;
    padding: 30px;
    align-items: flex-end;
}


